// Call to Action //
.cta-button {
	background-color: $primary-button-color;
	text-shadow: 1px 1px 2px #000;
    border: 0;
    border-radius: 2px;
    color: $primary-text-color;
    cursor: pointer;
    display: block;
    font-family: $primary-font;
    font-size: 1rem;
    margin: 0 auto;
    max-width: 25rem;
    padding: .625rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
}